{% extends "layout.html" %}


{% block page_title %}
  Search results - data.gov.uk
{% endblock %}

{% block content %}

<div class="prototype-picker">
  <main id="content" role="main">
    <h1 class="heading-large">Select a search results page</h1>
      <div class="grid-row">
        <div class="column-one-half">
          <a class="button button-start" href="results" role="button">Prototype One</a>

          <a class="button button-start" href="search-results" role="button">Prototype Two</a>
        </div>
      </div>
  </main>
</div>

{% endblock %}
